.contactBlock {
    display: flex;
    background-color: #272728;
}

.container {
    padding: 35px 0;
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.contactButton a {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    border-radius: 10px;
}

.contactButton a:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width: 30em) {
    .hireButton a {
        display: block;
        margin: 0.4em auto;
    }
}

.form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form input {
    background: #c5c5cc;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    margin: 5px 0;
    border-radius: 10px;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
}

.form textarea {
    margin: 5px 0;
    background: #c5c5cc;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    padding: 0 15px;
    min-height: 70px;
    border-radius: 10px;
}

.header {
    margin: 0 auto;
    text-align: center;
}


.title {
    margin-bottom: 30px;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
}

.line {
    background: #980033;
    width: 55px;
    height: 3px;
    margin: 30px auto;
}
