.skillsBlock {
    min-height: 100vh;
    background-color: #1f1f20;
    display: flex;
    color: #ebebf1;
    scroll-behavior: smooth;
}

.container {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.header {
    margin: 0 auto 30px;
    text-align: center;
}


.title {
    margin: 30px 0;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
}

.line {
    background: #980033;
    width: 55px;
    height: 3px;
    margin: 30px auto;
}

.skillsRow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;


}

