.mainBlock {
    height: 100vh;
    background-color: #272728;
    color: #ebebf1;
    position: relative;
}

.container {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    position: relative;

}

@media screen and (max-width: 815px) {
    .container {
        justify-content: center;
    }
}

.mainGreeting {
    width: 100%;
}

.mainPhoto {
    position: relative;
    z-index: 1;
}

.tsparticles {
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
}

.image {
    height: 400px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./../assets/images/photo.jpg");
}

@media screen and (max-width: 600px) {
    .image {
        height: 360px;
        width: 260px;
        transition: .5s;
    }
}

.image:before {
    content: "";
    position: absolute;
    height: 107%;
    width: 103%;
    border: 3px solid #980033;
    left: 10px;
    top: -14px;
    z-index: -1;
}