.mainBlock {
    height: 100vh;
    background-color: #272728;
    color: #ebebf1;
}

.container {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

@media screen and (max-width: 815px) {
    .container {
        justify-content: center;
    }
}

.mainGreeting {
    width: 350px;
}

.mainPhoto {
    width: 300px;
    height: 400px;
    background-color: aqua;
}

.particles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}