.projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 500px;

}



.viewButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 260px;
    position: relative;

}

.viewButtonContainer::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6;
}

.viewButtonContainer:hover::before{
    opacity: 0;
}
.viewButtonContainer:hover > a{
    background-color: black;
}


/*.viewButtonContainer::before:hover{*/
/*    position: absolute;*/
/*    content: '';*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/

/*}*/

.viewButtonContainer a {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    position: absolute;
    z-index: 1;
}

.viewButtonContainer a:hover {
    color: #000000;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1;
}

.descriptionContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.projectDescription {
    margin-top: 15px;

}