.projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    min-width: 270px;
}

.viewButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Common/images/space.jpeg');
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 200px;
}

.viewButtonContainer a {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

.viewButtonContainer a:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeabab;
    width: 100%;
}

.projectDescription {
    text-align: center;

}